aside.sidebar
	.profile
		.image
			img(src='./images/avatar.png', alt='avatar')
		.name
			span I am Lina
		.job
			span The Best
				|
				|
				span.colored Vlogger
				|
				| Ever
		a.subscribe(href='javascript:void(0)') Subscribe
		.followers
			span 458 588 Followers
	.socials.mt-50
		a.social(href='javascript:void(0)')
			.image
				img(src='./images/socials/instagram.svg', alt='instagram')
			.text
				.grey-text
					span Follow me on
				.black-text
					span Instagram
		a.social(href='javascript:void(0)')
			.image
				img(src='./images/socials/facebook.svg', alt='instagram')
			.text
				.grey-text
					span Write to me in
				.black-text
					span Facebook
		a.social(href='javascript:void(0)')
			.image
				img(src='./images/socials/twitter.svg', alt='instagram')
			.text
				.grey-text
					span Read my posts in
				.black-text
					span Twitter
		a.social(href='javascript:void(0)')
			.image
				img(src='./images/socials/google-plus.svg', alt='instagram')
			.text
				.grey-text
					span See my activities on
				.black-text
					span Google Plus
		a.social(href='javascript:void(0)')
			.image
				img(src='./images/socials/pinterest.svg', alt='instagram')
			.text
				.grey-text
					span Look at my favorites on
				.black-text
					span Pinterest
		a.social(href='javascript:void(0)')
			.image
				img(src='./images/socials/youtube.svg', alt='instagram')
			.text
				.grey-text
					span Follow me on
				.black-text
					span YouTube
		a.social(href='javascript:void(0)')
			.image
				img(src='./images/socials/behance.svg', alt='instagram')
			.text
				.grey-text
					span Appreciate my works on
				.black-text
					span Behance
		a.social(href='javascript:void(0)')
			.image
				img(src='./images/socials/dribbble.svg', alt='instagram')
			.text
				.grey-text
					span Do not miss my ideas on
				.black-text
					span Dribbble
	.popular-tags.mt-65
		.title
			span Popular
			br
			span Tags
		.tags
			a(href='javascript:void(0)') #love,
			a(href='javascript:void(0)') #instagood,
			a(href='javascript:void(0)') #photooftheday,
			a(href='javascript:void(0)') #Beautiful,
			a(href='javascript:void(0)') #fashion,
			a(href='javascript:void(0)') #like4like,
			a(href='javascript:void(0)') #picoftheday,
			a(href='javascript:void(0)') #happy,
			a(href='javascript:void(0)') #followme,
			a(href='javascript:void(0)') #art,
			a(href='javascript:void(0)') #follow,
			a(href='javascript:void(0)') #instadaily,
			a(href='javascript:void(0)') #style,
			a(href='javascript:void(0)') #cute,
			a(href='javascript:void(0)') #life,
			a(href='javascript:void(0)') #Selfie,
			a(href='javascript:void(0)') #instagram,
			a(href='javascript:void(0)') #likeforlike,
			a(href='javascript:void(0)') #fun,
			a(href='javascript:void(0)') #me,
			a(href='javascript:void(0)') #TagsForLikes,
			a(href='javascript:void(0)') #girl,
			a(href='javascript:void(0)') #nature,
			a(href='javascript:void(0)') #amazing,
			a(href='javascript:void(0)') #travel,
			a(href='javascript:void(0)') #beauty,
			a(href='javascript:void(0)') #fitness,
			a(href='javascript:void(0)') #smile,
			a(href='javascript:void(0)') #follow4follow
	.copyright
		span 2017 Flexipost.
		br
		span Made by
		|
		|
		a(href='javascript:void(0)') DartSimple