// Favicon
//link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
//link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
//link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
//link(rel="manifest", href="/manifest.json")
//link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#2196f3")

// Bootstrap
link(href='../assets/plugins/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
// Bootstrap Select
link(href='../assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css', rel='stylesheet')
// Font Awesome Icons
link(href='../assets/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
// Custom Scrollbar
link(href='../assets/plugins/jquery.mCustomScrollbar/jquery.mCustomScrollbar.css', rel='stylesheet')
// Owl carousel
link(href='../assets/plugins/owl.carousel/dist/assets/owl.carousel.min.css', rel='stylesheet')
// Owl theme
link(href='../assets/plugins/owl.carousel/dist/assets/owl.theme.default.min.css', rel='stylesheet')
// Photoswipe Gallery
link(href='../assets/plugins/photoswipe/dist/photoswipe.css', rel='stylesheet')
link(href='../assets/plugins/photoswipe/dist/default-skin/default-skin.css', rel='stylesheet')
// Main Style
link(href='css/main.css', rel='stylesheet')
