// IE console.log fix
script(src='assets/plugins/consoleFix.js', type='text/javascript')
// jQuery
script(src='assets/plugins/jquery/dist/jquery.min.js', type='text/javascript')
// IE fix placeholders in inputs and textarea
script(src='assets/plugins/placeholder.js', type='text/javascript')
// Main Plugins
script(src='assets/plugins/bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
script(src='assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js', type='text/javascript')
script(src='assets/plugins/modernizr.js', type='text/javascript')
script(src='assets/plugins/jquery.mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js', type='text/javascript')
script(src='assets/plugins/owl.carousel/dist/owl.carousel.min.js', type='text/javascript')
script(src='assets/plugins/bootstrap-validator/dist/validator.min.js', type='text/javascript')
script(src='assets/plugins/photoswipe/dist/photoswipe.min.js', type='text/javascript')
script(src='assets/plugins/photoswipe/dist/photoswipe-ui-default.min.js', type='text/javascript')
// Google Maps Api
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCvpH7_ggEW5MYLRO8EN1BbJak4u2uIvaA')
script(src='js/app.js', type='text/javascript')
