extends layouts/_default

block vars
	- page = { name: 'homepage', classes: 'sidebar-opened', title: 'Homepage' }

block header
	include partials/_header

block sidebar
	include partials/_sidebar

block main
	include pages/index/_main

block footer
	include partials/_footer