.slider
	.owl-carousel.owl-theme#post-slider-2
		.item(data-slide='1')
			.image
			.author-title
				.author
					span Lina Kelt
				.title
					span Reality is only one side of life.
			.intro
				.text
					span Wars based on principle are far more destructive... the attacker will not destroy that which he is after.
				a.read-post(href='javascript:void(0)') Read Post
		.item(data-slide='2')
			.image
			.author-title-2
				.title
					span Are humans better than
					br
					span.smaller other forms of life?
				.date
					span December 24, 2014 — by Lina Kelt
		.item(data-slide='1')
			.image
			.author-title
				.author
					span Lina Kelt
				.title
					span Reality is only one side of life 2.
			.intro
				.text
					span Wars based on principle are far more destructive... the attacker will not destroy that which he is after.
				a.read-post(href='javascript:void(0)') Read Post
		.item(data-slide='2')
			.image
			.author-title-2
				.title
					span Are humans better than
					br
					span.smaller other forms of life 2?
				.date
					span December 24, 2014 — by Lina Kelt
.news-container
	ul.news-bar.nav.nav-tabs
		li.active
			a(href='#news-stories', data-toggle='tab') Stories
		li
			a(href='#news-video', data-toggle='tab') Video
		li
			a(href='#news-playlists', data-toggle='tab') Playlists
	// Tab panes
	.tab-content.news-content
		#news-stories.tab-pane.active
			.sort-bar.clearfix
				a(href='javascript:void(0)')
					span.text Sort
					i.fa.fa-sort-amount-asc
			.date-bar
				.date-block
					.date
						.wrapper
							.day 27
							.month Aug
			.content
				.post.post-small
					.widget_socials
						a.widget-block.facebook-block(href='javascript:void(0)')
							.widget-block_counter.facebook-block_counter
								span 26
							.widget-block_icon.facebook-block_icon
								i.fa.fa-facebook(aria-hidden='true')
						a.widget-block.twitter-block(href='javascript:void(0)')
							.widget-block_counter.twitter-block_counter
								span 14
							.widget-block_icon.twitter-block_icon
								i.fa.fa-twitter(aria-hidden='true')
						a.widget-block.google-block(href='javascript:void(0)')
							.widget-block_counter.google-block_counter
								span 69
							.widget-block_icon.google-block_icon
								i.fa.fa-google-plus(aria-hidden='true')
					.widget_share.small
						a.widget-block(href='javascript:void(0)')
							i.fa.fa-share-alt
					.image
						img(src='./images/homepage/post-1.png', alt='post')
					.block
						.day-views
							span.day Day ago
							span.view 1240 Views
						.title
							span Wooden House
						.tags
							a(href='javascript:void(0)') #aboutme
							a(href='javascript:void(0)') #facts
							a(href='javascript:void(0)') #stories
						.bottom-line
							.date
								span 08/27/2017
							.more
								a(href='javascript:void(0)') Read Details
				.post.post-small
					.widget_socials
						a.widget-block.facebook-block(href='javascript:void(0)')
							.widget-block_counter.facebook-block_counter
								span 26
							.widget-block_icon.facebook-block_icon
								i.fa.fa-facebook(aria-hidden='true')
						a.widget-block.twitter-block(href='javascript:void(0)')
							.widget-block_counter.twitter-block_counter
								span 14
							.widget-block_icon.twitter-block_icon
								i.fa.fa-twitter(aria-hidden='true')
						a.widget-block.google-block(href='javascript:void(0)')
							.widget-block_counter.google-block_counter
								span 69
							.widget-block_icon.google-block_icon
								i.fa.fa-google-plus(aria-hidden='true')
					.widget_share.small
						a.widget-block(href='javascript:void(0)')
							i.fa.fa-share-alt
					.image
						img(src='./images/homepage/post-1.png', alt='post')
					.block
						.day-views
							span.day Day ago
							span.view 1240 Views
						.title
							span Wooden House
						.tags
							a(href='javascript:void(0)') #aboutme
							a(href='javascript:void(0)') #facts
							a(href='javascript:void(0)') #stories
						.bottom-line
							.date
								span 08/27/2017
							.more
								a(href='javascript:void(0)') Read Details
		#news-video.tab-pane
		#news-playlists.tab-pane
