doctype html
//- Global variables
- var page
block vars
//- Template
html(lang="en")
	head
		include ../partials/_head
	body
		.main-wrapper(class=page.classes)
			block header
			block sidebar
			main
				block main
			block footer