.main-wrapper {
  &.sidebar-opened {
    aside,
    .sidebar {
      margin-left: 0;
    }
    main {
      width: calc(100% - 255px);
    }
    header,
    .header {
      .menu-toggler {
        .bar {
          background: #ccc;
        }
      }
    }
  }
}