.widget_share {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: calc(100% - 40px);
  &.small {
    width: 30px;
  }
  .widget-block {
    float: right;
    color: $white;
    background: $black;
    padding: 8px 9px;
    border-radius: 3px;
    text-align: center;
    line-height: 0;
    margin-top: -4px;
    &:hover {
      background: lighten($black, 20%);
    }
  }
}